<html lang="en">

<head>
    <title>Website Prototyper</title>
   
    <script src="static/main.js"></script>
    <link rel="stylesheet" href="static/style.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>

<body>
 

  
    <h1 class="center">Website Prototyper</h1>


  <div id="container">
   
    <h3>Prompt</h3>
    <div>
       <form>
          <textarea id="prompt_input" name="prompt_input" rows="15" cols="400"></textarea>
          <br><br>
          <button type="button" id="submit_button">Create</button>
      </form>
      </div>
    <div id="left-menu" class="first">
     
      <h3>HTML</h3> <textarea id="prompt_output" name="prompt_output" rows="15" cols="200">
   </textarea>
     
   
      <input id="save-prototype" type="text" name="post_input" placeholder="Name">
       <button id="add-post-btn">Save</button>
    <ul id="post-list"></ul>
    </div>
   
  </div>
  <br>
  <br>
 <div id="responseHtml"></div>  
   

 
  
    <script src="static/post.js"></script>
  
</body>


</html>