<html lang="en">

<head>
    <title>Tester</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="static/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>

<body>
    <form>
        <textarea id="prompt_input" name="prompt_input" rows="15" cols="40"></textarea>
        <button type="button" id="submit_button">Submit</button>
    </form>
    <div id="response"></div>
    <div id="sidebar"></div>
    <div id="responseHtml"></div>

</body>


</html>